In [1]:
import pandas as pd

In [72]:
df = pd.read_csv(archivo, sep="\t", decimal= ",")
df.columns = ["ppm", "absorbance", "blank"]

df.drop(columns=["blank"])

            ppm absorbance
0      -1.36142   -3.63632
1      -1.36079   -3.87846
2      -1.36017   -3.84279
3      -1.35954   -4.00273
4      -1.35891   -3.75526
...         ...        ...
14922   7.99744   0.227194
14923   7.99807   0.381778
14924    7.9987   0.459106
14925   7.99932   0.450922
14926   7.99995   0.567221

[14927 rows x 2 columns]

In [98]:
# Se carga el archivo. En este caso, el mismo no tiene encabezados 
# (solo numeros). Es un archivo txt
archivo = "E3 - PBE.txt"
df = pd.read_csv(archivo, sep="\t", decimal= ",")
df.columns = ["ppm", "absorbance", "blank"]
df = df.drop(columns=["blank"])


print(df.dtypes)
df.head()

ppm           object
absorbance    object
dtype: object

        ppm absorbance
0  -1.36142   -3.63632
1  -1.36079   -3.87846
2  -1.36017   -3.84279
3  -1.35954   -4.00273
4  -1.35891   -3.75526

         absorbance
ppm
7.99744    0.227194
7.99807    0.381778
7.99870    0.459106
7.99932    0.450922
7.99995    0.567221

En este caso particular, tomo el rango de 3<abs<8 para el dataframe
y en dicho fragmento, reduzco la cantidad de puntos de manera significativa

In [111]:
# Separo el dataframe en 2 y reduzco los puntos. 
# Uno para ppm < 3 y otro para ppm > 3

df = df.astype(float)
df3_8 = df[(df["ppm"] > 3)]
df3_8.set_index ("ppm", inplace=True)
df3_8_red = df3_8.iloc[::8] # Sintaxis: df.iloc[inicio fin paso]

df1_3 = df[(df["ppm"] <= 3)]
df1_3.set_index ("ppm", inplace=True)
df1_3_red = df1_3.iloc[::3] # Sintaxis: df.iloc[inicio fin paso]

print(df3_8_red.shape, df1_3_red.shape)

(997, 1) (2318, 1)

In [115]:
# Uno los dataframes reducidos
df2 = pd.concat([df1_3_red,df3_8_red], axis=0)
df2.shape

(3315, 1)

In [116]:
# Ahora guardo los resultados
df2.to_csv("E3 - PBE modificado con eugenol.csv")